<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <forms>
        <form name="removeuselesscart_form" class="RemoveUselessCart\Form\RemoveUselessCartForm" />
    </forms>
<!--
    <commands>
        <command class="RemoveUselessCart\Command\RemoveUselessCartCommand" />
    </commands>
-->
    <services>
        <service id="removeuselesscart.eventlisteners" class="RemoveUselessCart\EventListeners\RemoveUselessCartEventListeners">
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>

</config>
